<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>ClickREC</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
  <link rel="stylesheet" title="lightTheme" type="text/css" href="/assets/lightStyle.css"/>
  <link rel="stylesheet" title="darkTheme" type="text/css" href="/assets/darkStyle.css"/>
</head>

<body>
  {{{body}}}
</body>

</html>