html, body {
    background-color: white;
}
body {
    background: linear-gradient(rgba(255,255,255,.85), rgba(255,255,255,.85)), url("img/pattern.png");
}
#logoWrapper {
    background-color: #ededed;
}
nav {
    background-color: #ededed;
}

/*Login/Register*/
.window {
    background-color: #fafafa;
}
.showButton {
    background: white !important;
    color: black !important;
}
.showButton:hover, .showButton:focus, .showButton:active {
    background: white !important;
    color: black !important;
}
/*Settings and Preferences*/
.colorPreview {
    border: 1px solid black;
}
.preview {
    border: 4px solid black !important;
}
/*Main Page*/
.allFilter {
    background-color: white;
  }

/*Grid Items*/
.gridItemWrapper {
    background-color: #ededed;
}