html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffb266;
}
a {
    text-decoration: underline;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #55acee;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

.contentForm {
    border: 2px solid #338acc;
    height: 100px;
    width: 1000px;
    margin-top:0px;
    padding-top:10px;
    background-color: #55acee;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.contentForm label {
}

.contentForm input[type=text] {
}

.addContentSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #55acee;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.addContentSubmit:link, .addContentSubmit:visited, .addContentSubmit:hover, .addContentSubmit:active {
    color: white;
}

.addContentSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.mainForm {
    width: 85%;
    margin: 0 auto;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    font-size: .75rem;
}

.formSubmit {
    margin: 0 auto;
    display: block;
    margin-top: 3rem;
    border-radius: 0;
    width: 100%;
    height: 3rem;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}

.titleHeader {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.title {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.subtitle {
    font-size: 1.25rem;
}

#user, #pass, #pass2 {
    width: 100%;
    font-size: 16px;
    height: 3rem;
    padding-left: 10px;
}

#user, .passwordWrapper  {
    border: 1px solid black;
}

.passwordWrapper {
    position: relative;
    overflow: hidden;
}

#pass, #pass2 {
    width: 85%;
    outline: none;
    border: none;
}

.showButton {
    border-radius: 0;
    background: white;
    color: black;
    width: 15%;
    border: none;
    display: inline-block;
    position: absolute;
    height: 100%;
}

.showButton:hover, .showButton:focus, .showButton:active {
    background: white !important;
    color: black !important;
    outline: none !important;
    box-shadow: none !important;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #55acee;
}

#domoMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    color: red;
    text-align: center;
}

#domo {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#contentTable {
    width: 40%;
    min-width: 400px;
    border: 2px solid #55acee;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.content {
    width: 95%;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
}

.content:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #66bfff;
}

img.contentImg {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyContent {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.contentName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.contentType {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.content:first-child {
    margin-top: 10px;
}

.content:last-child {
    margin-bottom:10px;
}


.window {
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
}