/*General*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 500 !important;
}
body {
  background-size: cover !important;
}
a {
    text-decoration: underline;
}

#logoWrapper {
  width: 373px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-bottom: 2px solid #bfbfbf;
  color: black;
  text-decoration: none;
}

#logoWrapper img {
  max-width: 65px;
  max-height: 65px;
  margin-right: 20px;
}

#logo {
  width: 65px;
}
#title {
  font-weight: 600;
  margin-right: 75px;
  margin-top: 10px;
}

nav {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 2;
    border-bottom: 2px solid #bfbfbf;
}

#errorMessage {
  color: red;
  text-align: center;
}

#successMessage {
  color: green;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}

.flash {
  animation-name: flash;
  animation-duration: .5s;
}

@keyframes flash {
  50% {
    color: white;
  }
}

/*Login/Register*/

.window {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border: 2px solid #bfbfbf;
}

.startForm, #manageTypesWrapper {
  width: 85%;
  margin: 0 auto;
  font-size: 1.2em;
}

.startForm h3 {
  text-align: center;
}

.startForm label {
  font-size: .75rem;
}

#user, #pass, #pass2 {
  width: 100%;
  font-size: 16px;
  height: 3rem;
  padding-left: 10px;
}

#user, .passwordWrapper  {
  border: 1px solid rgb(122, 122, 122);
}

.passwordWrapper {
  position: relative;
  overflow: hidden;
}

#pass, #pass2 {
  width: 85%;
  outline: none;
  border: none;
}

.showButton {
  border-radius: 0 !important;
  width: 15% !important;
  border: none !important;
  display: inline-block !important;
  position: absolute !important;
  height: 100% !important;
}

.showButton:hover, .showButton:focus, .showButton:active {
  background: white !important;
  color: black !important;
  outline: none !important;
  box-shadow: none !important;
}

#user:focus, #pass:focus, #pass2:focus {
  outline: none;
  box-shadow: 0px 0px 1px 1px #55acee;
}

.titleHeader {
  text-align: center;
  margin-bottom: 2.5%;
  margin-top: 7.5%;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.25rem;
}

.startSubmit {
  margin: 0 auto;
  display: block !important;
  width: 50%;
  height: 3rem;
}

.startSubmit:link, .startSubmit:visited, .startSubmit:hover, .startSubmit:active {
  color: white;
}

.startSubmit:hover {
  transition: background-color 0.4s ease;
  background-color: #338acc;
}

/*Settings and Preferences*/
#settingsMainWindow {
  padding-left: 2em;
  padding-right: 2em;
}
#windowTitle {
  text-align: center;
}

#usernameInfo {
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d5d5d5;
}
#submitWrapper {
  margin-top: 2rem;
  display: flex;
  width: 100%;
}
.returnButton {
  width: 50px;
  height: 50px;
}
.startSubmit, .returnButton {
  border-radius: 25px !important;
}
.returnButton i {
  transform: scale(1.5);
}

.credentialTitle, .preferenceTitle {
  margin-bottom: .5em;
}
#usernameCredential, #layoutText, #themeText, #sizingText {
  margin-bottom: .75em;
  font-size: 1.25em;
  font-weight: 600;
  word-break: break-all;
}

#passwordInfo {
  margin-bottom: 1em;
}

#settingsIconWrapper {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}

.preferenceWrapper {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #d5d5d5;
}

.colorsContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}
.colorWrapper {
  margin-left: 1em;
  margin-right: 1em;
}
.colorTitle {
  margin-bottom: 0px;
}
.colorPreview {
  width: 3vw;
  height: 2vh;
  margin-left: auto;
  margin-right: auto;
}

#changeColorForm label {
  margin-bottom: 0px;
  margin-top: .5rem;
}

.pcr-button {
  border: 1px solid black !important;
}

.preview {
  width: 400%;
  height: 325%;
  -ms-transform: scale(0.25);
  -moz-transform: scale(0.25);
  -o-transform: scale(0.25);
  -webkit-transform: scale(0.25);
  transform: scale(0.25);

  -ms-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;

  pointer-events: none;

  border-radius: .6em;
}

#mainPreviewPage {
  height: 205px;
  width: 100%;
  overflow: hidden;
}

#colorPreviewPage, #layoutPreviewPage {
  height: 205px;
  width: 75%;
  float: right;
  overflow: hidden;
  margin-bottom: 1rem;
}
#colorPreviewPage, #layoutPreviewPage p {
  text-align: center;
  margin-bottom: .5em;
  font-size: .75rem;
}

#sizingTypeField {
  margin-bottom: 1rem;
}

#layoutField, #sizingTypeField {
  width: 20%;
}
#sizingValueRange {
  display: none;
}

#manageTypesWrapper {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#addTypeInput {
  width: 67%;
  float: left;
  margin-block-end: 0px;
}
#deleteTypeButton {
  transform: scale(2);
  margin-right: 25px;
  cursor: pointer;
}

#typesLabel {
  margin-top: 10%;
}

#addTypeButton {
  color: black;
  border-color: #ced4da;
  background-color: white;
  border-left: none;
}

#typesListContainer ul {
  column-count: 2;
  width: 90%;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
}

.typeItem {
  list-style: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.typeItem span {
  display: inline-block;
  width: 65%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.saveDeletion {
  color: orange;
}

/*Main page*/

.logoWrapperApp {
  border-bottom: none !important;
}

.emptyContent {
  text-align: center;
}

.exitButton {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.exitButton a, .exitButton a:link, .exitButton a:visited, .exitButton a:hover, .exitButton a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #55acee;
    transition: background-color 0.4s ease;
}

.exitButton a:hover {
    transition: background-color 0.8s ease;
    background-color: #66bdff;
}

#navControls {
  width: 30%;
  float: right;
  margin-top: 30px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
}

#filterDropdown {
  margin-right: 5%;
  margin-left: 5%;
}

#filterDropdownMenu {
  width: 150px;
}

#filterIcon {
  transform: scale(1.75);
  color: darkgray;
}

.filterSelect {
  margin: 5px;
  width: 90% !important;
}

#searchWrapper {
  max-width: 80%;
}

#searchIcon {
  width: 45px;
}
.fa-search {
  color: white;
  transform: scale(1.75);
}


img.contentImg {
  max-width: 100%;
  max-height: 100%;
}

#userWrapper {
  display: block;
}
#userIcon {
    transform: scale(2);
    color: darkgray;
    margin-top: 10px;
}

#userIcon:hover {
  cursor: pointer;
}

#controls {
    float: left;
    width: 375px;
    height: 425px;
    border-right: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf;
    position: fixed;
    background-color: #ededed;
    z-index: 3;
    top: 100px;
}

.controlsTitle {
    margin-left: 30px;
    margin-bottom: 15px;
    font-weight: 600;
}

.col-2 {
    max-width: 20% !important;
}
  .inputField {
    margin-left: 15px !important;
}
  
  /*add/get media form section*/
  #addContentContainer, #getContentContainer {
    margin-top: 25px;
}
  #allStatusOption {
    background-color: #fff !important;
}
  #otherField, #getOtherField {
    transition: background-color .25s;
}
  #addSubmitButton, #getSubmitButton {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#addSubmitButton.btn-secondary {
  color: black;
  background-color: #bfbfbf;
}

  #editButton {
    margin-right: 6%;
    color: darkgray;
}

  #editButton i {
    transform: scale(1.75);
  }

  .editing {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  #contentContainer {
    width: calc(100% - 375px);
    margin-top: 120px;
    z-index: 1;
    position: relative;
    float: right;
}
  #contentTable {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 3vh;
    table-layout: fixed;
    background: white;
}
  /*content of table*/
  .tableHeader{
    border: none !important;
}
tbody{
  font-weight: 500 !important;
}
  #nameHeader, #typeHeader, #notesHeader, #imageHeader {
    cursor: pointer;
}
  /*status column (colored) with small dropdown*/
  .statusColumn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow: visible;
}
  .dropdown-item {
    cursor: pointer;
}
  .dropdown-toggle:empty::after {
    margin-left: 0;
    border-top: .6em solid;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
}
  .dropdown-menu {
    min-width: 10px;
    width: 120px;
}
  .rowDropDownWrapper {
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}
  .rowDropDown {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    border: 1.25px solid #fff !important;
    border-radius: 0px !important;
}
  .rowDropDown option {
    color: black;
}
  
  
  /*cells*/
  td {
    position: relative;
    height: 10vh;
    overflow: hidden;
    border: none !important;
}
  .dataCell {
    vertical-align: middle !important;
    font-size: 1.5em;
    word-break: break-word;
}
#deleteAllButton {
    margin-left: 85%;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
  
  /*delete button that appears when editing table*/
  .deleteButtonContainer {
    visibility: hidden;
    opacity: 0;
    margin-left: 2em;
    margin-top: calc(7.5vh - 40px);
    position: absolute;
}
  .deleteButton {
    transform: scale(2.5);
    cursor: pointer;
    transition: color .25s;
    color: gray;
}
  /*marking table rows for deletion*/
  .marked {
    color: #f79257;
}

  .tableImg {
    max-width: 100%;
    max-height: 100%;
}
  
  #content {
    margin-top: 100px;
    font-size: 2em;
    text-align: center;
}

  #contentContainer {
    width: calc(100% - 375px);
    margin-top: 120px;
    z-index: 1;
    position: relative;
    float: right;
}

/*Grid items*/

.gridContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gridItemWrapper {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.gridStatus {
  height: 12.5%;
}

.gridDropDownWrapper {
  margin-left: 1vw !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  display: inline-block !important;
}

.gridDropDownWrapper button {
  margin-top: 1vh;
}

.gridItemDeleteButton {
  float: right !important;
  position: initial !important;
  margin-right: 10% !important;
  margin-top: 1vh !important;
}

.gridItemImage {
  width: 100%;
  height: 45%;
  margin-left: auto;
  margin-right: auto;
}

.gridContentImage {
  margin-left: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gridItemNotes {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  word-break: break-word;
  margin-bottom: 0px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.gridItemType, .gridItemName {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 1.25em;
  word-break: break-word;
  margin-bottom: .5rem;

  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:1300px) {
  #loginContent, #preferencesContent, #settingsContent {
    margin-top: 17.5%;
  }
}

@media screen and (max-width:768px) {

}

  